

#all-nav-links {
    padding: 0px;
    margin-bottom: 0px;
    border-bottom: 0px;
    color: white;
    background-color: black;
    border-radius: 0;
}

.footer { 
    position: relative;
    left: 0;
    width: 100%;
    text-align: justify;
}

#topper {
    background-color: black;
    padding: 0px;
    margin: 0px;
    border-radius: 0;
}

.jumbo-moon  {
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 70px;
    font-size: 4em;
    color: white;
}

.each-nav {
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.35em;
}

.each-nav:hover {
    color: rgb(255, 10, 112);
}

.footer {
    padding: 16px;
    margin-top: 20px;
    width: 100%;
    position: absolute;
    color: white;
    background: rgb(255, 10, 112);
}

.naver {
    display: inline;
}