/* -------------------------------------------------------------------------------------------------------------//
//                             ALL CSS IS ALPHABETIZED AND BY ID'S, THEN BY CLASS NAME                          //
//--------------------------------------------------------------------------------------------------------------//

/* REUSABLE UNIVERSAL CSS */

    /* CLASSES */
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.float-right {
  float: right;
}

.pix-pad1 {
  padding-left: 10px;
}

.pix-pad2 {
  padding-left: 55px;
}

.my-btn {
  -moz-box-shadow:    5px 5px  rgb(85, 85, 85);
  -webkit-box-shadow: 4px 4px rgba(59, 59, 59, 0.76);
  box-shadow:         4px 4px   rgba(30, 30, 30, 0.521);    
  transition: background-color .9s ease;
  background: rgb(102, 147, 202);
  color: white;
  border-radius: 5px;
  margin: 10px 10px 5px 10px;
  padding: 5px 18px;
  font-size: 1.2em;  
  position: relative;
  overflow: hidden;
}

.my-btn:hover {
  -moz-box-shadow: 1px 1px rgb(30, 30, 30, 0.5);
  -webkit-box-shadow: 1px 1px rgb(30, 30, 30, 0.5);
  box-shadow: 1px 1px   rgb(30, 30, 30, 0.5);    
  transition: box-shadow 0.7s ease-in-out;
  transition: background-color 0.5s ease;
  background: rgb(2, 59, 129);
}

.my-btn:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba(208, 229, 238, 0.5);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
}
    
@keyframes ripple {
  0% {
  transform: scale(0, 0);
  opacity: 1;
}

  70% {
  transform: scale(25, 25);
  opacity: 1;
}
  100% {
  opacity: 0;
  transform: scale(40, 40);
}
}
    
.my-btn:focus:not(:active)::after {
  animation: ripple .7s ease-out;
}

