/* -------------------------------------------------------------------------------------------------------------//
//                                           ALL CSS IS ALPHABETIZED                                            //
//--------------------------------------------------------------------------------------------------------------//

/* CSS for components in the Form folder */
    /* ID's */
#login-card {
    height: 80%;
}

    /* Classes */
.pad-top-form {
    padding-top: 18px;
}

.register-form {
    text-align: center;
}
  
.register-input {

    width: 90%;
}

.space {
    margin-left: 39px;
}

.spacing {
    margin: 15px;
}

.spacing-top {
    margin-top: 40px;
}

.text {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.35em;
    color: rgb(8, 54, 14);
    /* color: rgb(247, 2, 116); */
}

.title {
    font-family: 'Josefin Sans', sans-serif;
    margin: 40px 20px;
    color: rgb(102, 147, 202);
    border-bottom: 1px solid rgb(121, 118, 118);
    /* #777; */
    font-size: 3.7em;
    font-style: italic;
}

.width-control {
    width: 400px;
    justify-content: center;
}

.width-input {
    width: 75%;
}