/* -------------------------------------------------------------------------------------------------------------//
//                             ALL CSS IS ALPHABETIZED AND BY ID'S, THEN BY CLASS NAME                          //
//--------------------------------------------------------------------------------------------------------------//

/* Css for components in the PAGES FOLDER ONLY */
    /* ID's */

/* #bd {
    padding: 0px;
} */

#button-card {
    height: 389px;
}

#cp-cards {
    justify-content: center;
    width: 65%;
    align-content: center;
    height: 240px;
    padding: 20px;
    margin: 40px auto;
    background: rgb(250, 250, 220);
    border: solid rgb(243, 243, 237) 2px;
    /* margin: 0 auto; */
    float: none;
}

#index-card-row {
    margin: 20px 0 0 0;
}

#length {
    height: 400px;
    overflow: scroll;
}

#long2 {
    height: 187px;
    margin-bottom: 14px;
    justify-content: center;
}

#mini-card-d1 {
    padding: 15px;
    font-size: 1.2em;
    overflow: hidden;
    display:block;
    width:100%;
    height:137px;
}

#MyDecksCard {
    height: 187px;
    /* overflow: scroll; */
    margin-bottom: 14px;
}

#main-bd-row {
    margin: 15px 0 0 0;
    padding: 10px;
}


#note-card-content {
    color: black;
    background: rgb(250, 248, 227);
    margin: 1px;
    /* perspective: 635px; */
    -moz-box-shadow:    3px 3px  rgb(49, 49, 49);
    -webkit-box-shadow: 3px 3px   rgb(49, 49, 49);
    box-shadow: 0px;
}

    /* CLASSES */
.bl {
    float: left;
    width: 55%;
    height: 45%;
    margin-top: 4px;
}

.bll {
    font-size: 1.20em;
    margin-top: 0px;
    color: rgb(255, 10, 112);
    font-weight: bold;
    font-style: italic;
}

.cent {
    float: none;
    margin-right: auto;
    margin-left: auto;
}

.pad-vert {
    padding: 100px 0;
}

.safe-div {
    height: 63%;
    margin: 25px;
    font-size: 1.2em;
}
