/* -------------------------------------------------------------------------------------------------------------//
//                             ALL CSS IS ALPHABETIZED AND BY ID'S, THEN BY CLASS NAME                          //
//--------------------------------------------------------------------------------------------------------------//

/* Css for components in the PAGES FOLDER ONLY */
    /* ID's */
#index-card-row {
    margin: 20px 0 0 0;
}
    /* CLASSES */
.cent {
    float: none;
    margin-right: auto;
    margin-left: auto;
}

.pad-vert {
    padding: 100px 0;
}