/* Scoped for the BackDrop */

#BackdropCrd .my-card {
    background: rgb(105, 110, 116);
    color: white;
    border-width: 2px 2px 4px 3px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.568);
    padding: 50px;
}

/* Scoped for the base Card */

#CardCrd .my-card {
    background: rgb(105, 110, 116);
    color: white;
    border-width: 2px 2px 4px 3px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.568);
    padding: 50px;
}

/* Scoped for the Headings */

/* #HeadingsCrd */

/* Scoped for the My Deck */

/* #MyDeckCrd */

/* Scoped for the NoteCardL */

#NoteCardLCrd #note-card {
    color: green;
}

/* Scoped for the NoteCardS */

/* #NoteCardSCrd */

/* Scoped for the NoteCardwTitle */

/* #NoteCardwTitleCrd */

/* Scoped for the PostsCard */

/* #PostsCardCrd */

/* Scoped for the ReplyCard */

/* #ReplyCardCrd */

/* Scoped for the RWContentCard */

/* #RWContentCardCrd */