/* Scoped for the BackDrop */

#BackdropCrd .my-card {
    background: rgb(105, 110, 116);
    color: white;
    border-width: 2px 2px 4px 3px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.568);
    padding: 50px;
}

/* Scoped for the base Card */

#CardCrd .my-card {
    background: rgb(49, 49, 49);
    color: white;
    border-width: 2px 2px 4px 3px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.568);
    padding: 10px 10px 50px 10px;
    height: 375px;
}

/* Scoped for the Headings */

/* #HeadingsCrd */

/* Scoped for the My Deck */

/* #MyDeckCrd */

/* Scoped for the NoteCardL */

.center {
    align-content: center;
}

#NoteCardLCrd #note-card {
    height: 350px;
}
#NoteCardLCrd .green {
    color: green;
}

#NoteCardLCrd .verified {
    background: white;
    float: right;
}

#NoteCardLCrd #note-card-content {
    color: black;
    background: rgb(250, 248, 227);
    height: 290px;
   
}

#NoteCardLCrd .front {
    color: black;
    font-size: 2em;
    padding: 60px;  
}
#NoteCardLCrd .pad-right {
    padding-right: 7px;
}

#NoteCardLCrd #btnR {
    float: right;
}

#NoteCardLCard .float-right {
    float: right;
}

#NoteCardLCrd .note-btn {
    background: rgb(10, 20, 75);
    color: white;
    margin:2px;
    border-radius: 5px;
    margin: 5px 10px 5px 10px;
    font-size: 1.2em;  
}

#NoteCardLCrd .note-btn:hover {
    background: rgb(1, 22, 139);
}

.float-right {
    float: right;
}
/* Scoped for the NoteCardS */

/* #NoteCardSCrd */

/* Scoped for the NoteCardwTitle */

/* #NoteCardwTitleCrd */

/* Scoped for the PostsCard */

/* #PostsCardCrd */

/* Scoped for the ReplyCard */

/* #ReplyCardCrd */

/* Scoped for the RWContentCard */

/* #RWContentCardCrd */