
#login-card {
    /* padding: 50px 250px;
    margin: 0 300px; */
    height: 80%;
}
.pad-top-form {
    padding-top: 18px;
}

.register-form {
    text-align: center;
}
  
.register-input {

    width: 90%;
}

.space {
    margin-left: 39px;
}

.spacing {
    margin: 15px;
}

.spacing-top {
    margin-top: 40px;
}

.width-control {
    width: 400px;
    justify-content: center;
}

.width-input {
    width: 75%;
}