
.lab {
    color: rgba(255, 10, 112, 0.452);
    margin: 0px 15px 5px 15px;
}

input:checked+label {
    color: rgb(255, 10, 112);
    margin: 0px 15px 5px 15px;
    font-size:1.5em;
    font-weight: bold;
}

.marg1 {
    margin: 0px 0px 25px;
}

.marg2 {
    margin: 4px 0px 9px;
}

.my-card {
    border-radius: 10px;
    background: rgb(248, 247, 247);
    color: rgb(55, 52, 66);
    border-width: 0 3px 2px 0;
    border-style: solid;
    border-color: rgba(177, 174, 174, 0.616);
    padding: 7px 7px 60px 7px;
}

/* .my-card:hover { 
    transition: box-shadow 0.4s ease-in-out; 
    -moz-box-shadow:    2px 2px  rgb(182, 180, 180);
    -webkit-box-shadow: 2px 2px  rgb(182, 180, 180);
    box-shadow:         2px 2px  rgb(182, 180, 180);
} */