
.lab {
    color: rgba(255, 10, 112, 0.452);
    margin: 0px 15px 5px 15px;
}

input:checked+label {
    color: rgb(255, 10, 112);
    margin: 0px 15px 5px 15px;
    font-size:1.5em;
    font-weight: bold;
}

.marg1 {
    margin: 0px 0px 25px;
}

.marg2 {
    margin: 4px 0px 9px;
}

.my-card {
    background: rgb(238, 237, 237);
    color: rgb(55, 52, 66);
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.568);
    padding: 7px 7px 60px 7px;
    -moz-box-shadow:    3px 3px 5px 6px   rgb(134, 133, 134);
    -webkit-box-shadow: 3px 3px 3px 3px   rgb(134, 133, 134);
    box-shadow:         2px 2px 3px 3px  rgb(78, 78, 78);
    transition: box-shadow 0.4s ease-in-out;
}

.my-card:hover { 
    transition: box-shadow 0.4s ease-in-out; 
    -moz-box-shadow:    3px 3px  rgb(112, 111, 111);
    -webkit-box-shadow: 3px 3px  rgb(112, 111, 111);
    box-shadow:         3px 3px  rgb(112, 111, 111);
}