
/* .flipper:active {
    transform-style: preserve-3d;
    transform: rotateY(180deg); 
    transition: -webkit-transform ease 500ms;
    transition: transform ease-in-out 500ms;
    backface-visibility: hidden;
} */



.my-card {
    background: rgb(226, 224, 224);
    color: rgb(55, 52, 66);
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.568);
    padding: 7px 7px 60px 7px;
    -moz-box-shadow:    3px 3px 5px 6px   rgb(134, 133, 134);
    -webkit-box-shadow: 3px 3px 3px 3px   rgb(134, 133, 134);
    box-shadow:         2px 2px 3px 3px  rgb(134, 133, 134);
    transition: box-shadow 0.4s ease-in-out;
}

.my-card:hover { 
    transition: box-shadow 0.4s ease-in-out; 
    -moz-box-shadow:    3px 3px  rgb(112, 111, 111);
    -webkit-box-shadow: 3px 3px  rgb(112, 111, 111);
    box-shadow:         3px 3px  rgb(112, 111, 111);
}